<p class="heading-text text-center mt-4">About Memory Cherished</p>

<img src="assets/about/about-image.jpeg" class="d-block mx-auto about-page-image mt-3" alt="About Image">

<div class="about-text-block p-3 mx-5">
  <p class="text-size-30 text-center text-semi-bold pt-4">Our Mission</p>

  <p><span class="text-semi-bold text-size-18">Memory Cherished</span> is your dedicated space to collect and preserve the memories of your loved ones, where family and friends can contribute and view cherished moments.</p>

  <p>Our platform offers an interactive experience where approved members can engage with shared content, fostering connections and memories. Additionally, our shared gallery allows you to create themed albums, letting you organize your media the way you want. We value privacy, which is why the owner of each group decides who may join to view and contribute to discussions and albums.</p>

  <p>Leaving a legacy is also about how our loved ones are impacted in the event of our death. By ensuring all our affairs are in order, we can make this difficult time easier for them. Similarly, we seldom feel ready to deal with the practical implications of losing a loved one. For this reason, our <span class="text-semi-bold text-size-18">Helping Hand</span> section offers practical guidelines and valuable resources on a variety of relevant topics to ease the process.</p>

  <p>Don't wait to lose someone — start sharing and celebrating treasured memories today!</p>
</div>