<div class="main-container">

  <!-- Header -->
  <div class="header-container">



    <div class="logo-flip-card">
      <div class="logo-flip-card-inner">
        <div class="logo-flip-card-front">
          <img class="website-logo" [src]="'assets/memory-cherished-logo.PNG'">
        </div>
        <div class="logo-flip-card-back">
          <p class="mb-0 text-center text-size-m logo-card-text">Your story<br />lives on</p>
        </div>
      </div>
    </div>











  </div>
  <!-- End of Header -->

  <div class="content-container" id="content-container">
    <!-- Body -->
    <router-outlet></router-outlet>
    <!-- End of Body -->

    <!-- Footer -->
    <div class="footer-container">
      <p>Footer Content Here</p>
    </div>
    <!-- End of Footer -->
  </div>


</div>