// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-end-primary: mat.define-palette(mat.$indigo-palette);
$front-end-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-end-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-end-theme: mat.define-light-theme(
  (
    color: (
      primary: $front-end-primary,
      accent: $front-end-accent,
      warn: $front-end-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-end-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

.center-align-vertical {
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.container {
  min-width: 1200px !important;
  max-width: 1200px !important;
}

// Fonts sizes
$h1-font-size: 22px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;
h1,
.h1 {
  font-size: $h1-font-size;
}
h2,
.h2 {
  font-size: $h2-font-size;
}
h3,
.h3 {
  font-size: $h3-font-size;
}
h4,
.h4 {
  font-size: $h4-font-size;
}
h5,
.h5 {
  font-size: $h5-font-size;
}
h6,
.h6 {
  font-size: $h6-font-size;
}

//Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-bolder: bolder;
h1,
.h1 {
  font-weight: $font-weight-semibold;
  line-height: 30px;
}
h2,
.h2 {
  font-weight: $font-weight-regular;
  line-height: 28px;
}
h3,
.h3 {
  font-weight: $font-weight-semibold;
  line-height: 24px;
}
h4,
.h4 {
  font-weight: $font-weight-semibold;
  line-height: 22px;
}
h5,
.h5 {
  font-weight: $font-weight-regular;
  line-height: 20px;
}
h6,
.h6 {
  font-weight: $font-weight-regular;
  line-height: 20px;
}

.text-size-10 {
  font-size: 10px !important;
}
.text-size-12 {
  font-size: 12px !important;
}
.text-size-14 {
  font-size: 14px !important;
}
.text-size-16 {
  font-size: 16px !important;
}
.text-size-18 {
  font-size: 18px !important;
}
.text-size-20 {
  font-size: 20px !important;
}
.text-size-22 {
  font-size: 22px !important;
}
.text-size-24 {
  font-size: 24px !important;
}
.text-size-26 {
  font-size: 26px !important;
}
.text-size-30 {
  font-size: 30px !important;
}
.text-size-40 {
  font-size: 40px;
  line-height: 40px;
}
.text-size-xl {
  font-size: 6.5rem !important;
}
.text-size-m {
  font-size: 3rem !important;
}

.text-semi-bold {
  font-weight: $font-weight-semibold !important;
}

.text-bold {
  font-weight: $font-weight-extrabold;
}

.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 0.75rem !important;
}
.ml-4 {
  margin-left: 1rem !important;
}
.ml-5 {
  margin-left: 1.25rem !important;
}
.ml-6 {
  margin-left: 1.5rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 0.75rem !important;
}
.mr-4 {
  margin-right: 1rem !important;
}
.mr-5 {
  margin-right: 1.25rem !important;
}
.mr-6 {
  margin-right: 1.5rem !important;
}
.mx-n1 {
  margin: 0px -0.25rem !important;
}
.mx-n2 {
  margin: 0px -0.5rem !important;
}
.mx-n3 {
  margin: 0px -0.75rem !important;
}
.mx-n4 {
  margin: 0px -1rem !important;
}
.mx-n5 {
  margin: 0px -1.25rem !important;
}
.mx-n6 {
  margin: 0px -1.5rem !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.pl-3 {
  padding-left: 0.75rem !important;
}
.pl-4 {
  padding-left: 1rem !important;
}
.pl-5 {
  padding-left: 1.25rem !important;
}
.pl-6 {
  padding-left: 1.5rem !important;
}

.pr-0 {
  padding-right: 0px !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pr-3 {
  padding-right: 0.75rem !important;
}
.pr-4 {
  padding-right: 1rem !important;
}
.pr-5 {
  padding-right: 1.25rem !important;
}
.pr-6 {
  padding-right: 1.5rem !important;
}

.full-width-dialog .mat-dialog-container {
  max-width: 98vw !important;
  width: 98vw !important;
  min-width: 98vw !important;
  margin-left: 1vw;
  position: absolute;
  height: 99vh;
  left: 0vw;
}

.half-width-dialog .mat-dialog-container {
  max-width: 44vw !important;
  width: 44vw !important;
  min-width: 44vw !important;
  margin-left: 1vw;
}

.red-text {
  color: #ee202e;
}

.green-text {
  color: green;
}

.white-text {
  color: white;
}

.no-underline {
  text-decoration: unset !important;
}

.text-no-wrap {
  text-wrap: nowrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.underline-text {
  text-decoration: underline;
}

.italic-text {
  font-style: italic !important;
}

.section-header-text {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
  font-size: 35px !important;
  line-height: 1.2 !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.color-black {
  color: black !important;
}

// .red-button {
//   background-color: #ee202e;
//   width: fit-content;
//   padding: 10px 12px;
//   line-height: 1.25 !important;
//   transition-duration: 300ms;
//   cursor: pointer;
//   flex-direction: row;
//   display: flex;

//   border-radius: 5px;
//   border: 1px solid transparent;

//   &:hover {
//     background-color: #cd2122 !important;
//   }

//   p {
//     color: white !important;
//     font-size: 18px;
//   }
// }

// .red-button-icon {
//   background-image: url("assets/button-arrow-light.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 20px;
//   height: 14px;
//   display: block;
//   margin-left: 5px;
// }

// .red-button-icon-small {
//   background-image: url("assets/button-arrow-light.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 10px;
//   height: 7px;
//   display: block;
//   margin-left: 4px;
// }

// .red-button.disable-user-click {
//   cursor: not-allowed !important;
//   pointer-events: none;
//   background-color: #e9747c;
// }

// .white-button {
//   background-color: white;
//   width: fit-content;
//   padding: 10px 12px;
//   line-height: 1.25 !important;
//   transition-duration: 300ms;
//   cursor: pointer;
//   flex-direction: row;
//   display: flex;

//   border-radius: 5px;
//   border: 1px solid #ee202e;

//   &:hover {
//     background-color: #f5f5f5 !important;
//   }

//   p {
//     color: #ee202e !important;
//     font-size: 18px;
//   }
// }

// .white-button-icon {
//   background-image: url("assets/button-arrow-red.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 20px;
//   height: 14px;
//   display: block;
//   margin-left: 5px;
// }

// .white-button.disable-user-click {
//   cursor: not-allowed !important;
//   pointer-events: none;
//   background-color: #efefef;
// }

.custom-mat-hint {
  text-align: right;
  color: rgba(41, 43, 44, 0.65);
  font-size: 10.5px;
  margin-top: -14px;
  margin-bottom: 0px;
}

.page-header {
  padding-top: 115px;
  padding-bottom: 15px;
  width: 100%;
}

.dark-background {
  background-color: #f5f5f5;
  width: 100%;
}

.child-path-text {
  color: rgba(0, 0, 0, 0.5);
}

.text-italic {
  font-style: italic;
}

.width-fit-content {
  width: fit-content !important;
  padding: 0;
}

.pdf-modal-class {
  // width: fit-content;
  // max-width: 90vw;
  width: 90vw;
}

.page-section-expansion-pannel {
  box-shadow: none !important;
  background-color: transparent !important;

  .mat-expansion-panel-header {
    padding: 0px !important;
    user-select: none !important;
    height: fit-content !important;
  }

  .mat-expansion-panel-header:hover {
    background: transparent !important;
  }

  .mat-expansion-panel-body {
    padding: 0px !important;
  }
}

.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
  background: #ee202e !important;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #ee202e !important;
  --mdc-checkbox-selected-hover-icon-color: #ee202e !important;
  --mdc-checkbox-selected-icon-color: #ee202e !important;
  --mdc-checkbox-selected-pressed-icon-color: #ee202e !important;
}

.mat-mdc-radio-button .mdc-form-field {
  padding: 0px !important;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: #ee202e !important;
  --mdc-radio-selected-hover-icon-color: #ee202e !important;
  --mdc-radio-selected-icon-color: #ee202e !important;
  --mdc-radio-selected-pressed-icon-color: #ee202e !important;
  --mat-mdc-radio-checked-ripple-color: #ee202e !important;
}

.min-width-modal-class {
  min-width: 300px;
  width: fit-content;
}

.min-width-modal-class-medium {
  min-width: 60vw;
  width: fit-content;
  overflow-y: auto;
  max-height: 90vh;
}

.currency-input-prefix {
  margin-right: 7px;
  width: fit-content;
}

.currency-input-suffix {
  margin-left: 7px;
  width: fit-content;
}

.with-prefix span.mat-form-field-label-wrapper {
  margin-left: unset !important;
}

.reverse-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #ee202e !important;
}

.mat-snack-bar-container.grey-border {
  border: 1px solid #aba8a8 !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

// .propeller-cursor {
//   cursor: url('assets/propeller-cursor.png'), auto;
//   // cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
// }

.primary-button {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  width: fit-content;
}

.secondary-button {
  background-color: black;
  color: white;
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  width: fit-content;
  font-size: 18px;
}

.hyperlink-text {
  cursor: pointer;
  transition: color 0.3s;
  // font-size: 2vw;
  // margin-bottom: 0.5vw;
  width: fit-content;

  &:hover {
    color: #4e6179;
  }
}

.secondary-text {
  color: #ccc;
  font-size: 16px;
}

p {
  font-size: 16px;
}

.bodoni-moda-font {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
}

.eb-garamond-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.row-no-wrap {
  flex-wrap: nowrap !important;
}

.heading-text {
  font-size: 50px;
  margin-bottom: 2vw;
  font-weight: bold;
}
